<p>Bievenidos al Codemotion</p>
<h2>Mono Repo</h2>
<ul>
  <li><a routerLink="">home</a></li>
  <li><a routerLink="/marvel">marvel</a></li>
  <li><a routerLink="/dc">dc</a></li>
  <li><a routerLink="/anime">anime</a></li>
  <li><a routerLink="/anime-dev">anime como dependencia</a></li>
  <li><a routerLink="/disney">disney</a></li>
  <li><a href="http://localhost:4201">Doctor Strange</a></li>
  <li><a href="http://localhost:5000">Deadpool externa</a></li>
</ul>

<h2>Multi Repo</h2>
<ul>
  <li><a routerLink="iframes">Iframes</a></li>
</ul>
<router-outlet></router-outlet>
